/* Flexbox layout for article */
article {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between paragraph and image */
  }
  
  article p {
    flex: 1;
    margin-right: 20px; /* Add space between the text and image */
    text-align: left;
    font-size: 30px;
  }
  
  article figure {
    flex-shrink: 0; /* Prevent figure from shrinking */
    margin-left: 20px; /* Add space between image and paragraph */
  }
  
  article img {
    display: block;
    margin-top: 60px;
  }
  
  /* Styling for the navigation */
  header {
    background-color: #f4f4f4;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 1000; */
  }
  
  nav {
    display: flex;
            justify-content:space-around;
            align-items: center;
            height:30px;
            background-color: rgb(229, 237, 239);
            width: auto
    
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li{
    list-style: none;
    margin:0 53px;
}
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  /* Basic styling for other elements */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    color: aliceblue;
  }
  
  section {
    padding: 20px;
  }
  p{
padding: 20px;
  }
  
  .left{
    display: flex;
    color: black;
    /* justify-content: space-around; */
    

  }
  .table{
    justify-content: center;
  }
  aside{
    font-size: 30px;
    justify-content:end;
    width: 100%;

  }
  aside ul li{
    justify-content: center;
  }